@import 'mvcshowcase';
@import 'mvc-navbar';

body{
  color:#0D47A1;
}
.content{
  display:none;
  width: 800px;
  margin: 10% auto;
  line-height:2em;
}
.site-main
{
  padding-top:30em;
  opacity:0;
}


.main-post{
  margin:auto !important;
  float:none !important;
}
.homepage-post
{
  max-width: 50%;
  cursor:pointer;
  margin: 0em 10em;
  position:relative;
  img{
    width:auto;
    max-height: 20em;

  }
  .post_title{
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

}

#home-post-1-container {
  overflow: auto;
  width: 100%;
  #home-post-1 {
    float:right;
    margin-bottom:5em;
  }
}

#home-post-2-container {
  overflow: auto;
  width: 100%;

  #home-post-2 {
    float:left;
    margin-bottom:5em;
  }
}

#home-post-3-container {
  overflow: auto;
  width: 100%;

  #home-post-3 {

    float:right;
    margin-bottom:5em;
  }
}

#home-post-4-container {
  overflow: auto;
  width: 100%;

  #home-post-4 {


    float:left;
    margin-bottom:5em;
  }
}

#home-post-5-container {
  overflow: auto;
  width: 100%;

  #home-post-5 {

    float:right;
    margin-bottom:5em;
  }
}


.post_title
{
  display:none;
  font-weight:300;
}


img.hovered
{
  transition: opacity 0.5s;
  opacity:0.5 !important;
}

.site-branding:hover{
  opacity:0.5;
}

#dropdown
{
  #category_list
  {
    width: 40%;
    padding-left: 20%;
    float:left;
    li{
      padding: 1em 0;
      font-size:20px;
      a{
        label{
          text-transform: uppercase;
          font-size:25px;
        }
        font-size:14px;
        position:absolute;
        z-index:10;
      }
    }
  }
  display:none;
  height: 500px;
  #category_description{
    float:left;
    width:40%;
    height:100%;
    margin-left:-10%;
    .category_preview{
      height:100%;
      display:none;

      .category_thumb{
        height:100%;
        background-repeat:   no-repeat;
        background-position: center;

      }
    }
  }
}

@media only screen
and (min-device-width: 360px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
  @import 'mobile/mvc-home-mobile';
}
