.archive{
  #main {
    padding:0 10%;
    float:left;
    article {
      float:left;
      width: 20%;
      padding:2.5%;
      img {
        max-width: 100%;
        height: auto;
      }
      p{
        text-align:center;
      }
    }
  }
}

#category_bottom
{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 1em;
  text-align: center;
}