.site-branding
{

  z-index:9999;
  float:left;
  margin:5em;
}


  .right-nav
  {
    float:right;
    margin:8em;
    a{
      margin:1em;
    }
  }




#menu-home
{
  li{
    width: 90px;
    margin: 28px 5px;
    text-align: center;
    a{
      float:none;
    }
  }
}


.site-header-main
{
  width:100%;
}



#site-header-menu{
  float:right;
}

#site-banner {
  height: 300px;
  width: 100%;
}
