.single{


.post-thumbnail
{
  text-align:center;

  img{
    max-height: 500px;
    width: auto;
  }
}
  .entry-content
  {
    padding:0 15em;
  }

  .site-main{
    opacity: 1;
    padding:0;
  }





}