.single{


  .post-thumbnail
  {
    text-align:center;

    img{
      max-height: 500px;
      width: auto;
    }
  }

  .entry-title
  {
    text-align:center;
    text-decoration: underline;

  }
  .entry-content
  {
    padding:0 15em;
  }

  .site-main{
    opacity: 1;
    padding:0;
  }





}
@media only screen
and (min-device-width: 360px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
  @import 'mobile/mvc-single-page-mobile';
}