@import 'mvcshowcase';
@import 'mvc-navbar';


.site-main
{
  padding-top:30em;
  opacity:0;
}
.homepage-post
{
  cursor:pointer;
  margin: 0em 10em;
  position:relative;
  img{
    max-width: 100%;
    height: auto;

  }
  .post_title{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}

#home-post-1-container {
  overflow: auto;
  width: 100%;
  #home-post-1 {
    max-width: 30%;
    float:right;
  }
}

#home-post-2-container {
  overflow: auto;
  width: 100%;

  #home-post-2 {
    width: 30%;
    float:left;
  }
}

#home-post-3-container {
  overflow: auto;
  width: 100%;
  margin-top:-10em;

  #home-post-3 {

    width: 30%;
    float:right;
  }
}

#home-post-4-container {
  overflow: auto;
  width: 100%;

  #home-post-4 {

    margin:0em 15em;
    width: 30%;
    float:left;
  }
}

#home-post-5-container {
  overflow: auto;
  width: 100%;
  margin-top:-10em;

  #home-post-5 {

    width: 30%;
    float:right;
  }
}


.post_title
{
  display:none;
  font-weight:300;
}


img.hovered
{
  transition: opacity 0.5s;
  opacity:0.1 !important;
}

#dropdown
{
  #category_list
  {
    width: 40%;
    padding-left: 20%;
    float:left;
    li{
      padding: 1em 0;
      font-size:20px;
    }
  }
  display:none;
  height: 500px;
  #category_description{
    float:left;
    width:40%;
    .category_preview{
      display:none;
    }
  }



}
