.site-branding
{
  position: fixed;
  top:5em;
  left:10em;
  z-index:9999;
}


.site-header{
  overflow:auto;
  height:5em;
  padding: 2em 10em 0em 10em;
  *{float:left;}
}



#menu-home
{
  li{
    width: 90px;
    margin: 28px 5px;
    text-align: center;
    a{
      float:none;
    }
  }
}


.site-header-main
{
  width:100%;
}



#site-header-menu{
  float:right;
}

#site-banner {
  height: 300px;
  width: 100%;
}
