@import url(https://fonts.googleapis.com/css?family=BioRhyme|Black+Ops+One|Bungee|Bungee+Shade|Creepster|Ewert|Fruktur|Gravitas+One|Monoton|Rubik:900);
html {
  letter-spacing: 2px;
  font-family: 'Lora', serif;
  margin: 0px !important;
  background-color: #ffffff; }
  html body {
    padding: 0;
    margin: 0 auto;
    background: #ffffff; }

a {
  text-decoration: none;
  color: #258efb; }

li {
  list-style-type: none; }

#site-container {
  margin: 0 auto;
  background: #ffffff; }

#content {
  padding-top: 10em;
  clear: both;
  width: 90%;
  margin: auto; }

.hidden {
  transition: display 2s;
  display: none !important; }

#filter {
  /* display: none; */
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.5;
  position: absolute;
  top: 0;
  margin-top: 5em; }

.site-branding {
  z-index: 9999;
  float: left; }

.right-nav {
  float: right;
  margin-top: 3em; }
  .right-nav a {
    margin: 1em; }

#menu-home li {
  width: 90px;
  margin: 28px 5px;
  text-align: center; }
  #menu-home li a {
    float: none; }

.site-header-main {
  width: 100%; }

#site-header-menu {
  float: right; }

#site-banner {
  height: 300px;
  width: 100%; }

#nav-bar {
  overflow: auto;
  position: fixed;
  width: 80%;
  margin: 3em 10%;
  z-index: 10; }

#dropdown {
  clear: both; }

.site-main {
  padding-top: 30em;
  opacity: 0; }

.main-post {
  margin: auto !important;
  float: none !important; }

.homepage-post {
  cursor: pointer;
  margin: 0em 10em;
  position: relative; }
  .homepage-post img {
    max-width: 100%;
    height: auto; }
  .homepage-post .post_title {
    font-family: 'Gravitas One', cursive;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }

#home-post-1-container {
  overflow: auto;
  width: 100%; }
  #home-post-1-container #home-post-1 {
    max-width: 50%;
    float: right;
    margin-bottom: 5em; }

#home-post-2-container {
  overflow: auto;
  width: 100%; }
  #home-post-2-container #home-post-2 {
    max-width: 50%;
    float: left;
    margin-bottom: 5em; }

#home-post-3-container {
  overflow: auto;
  width: 100%; }
  #home-post-3-container #home-post-3 {
    max-width: 50%;
    float: right;
    margin-bottom: 5em; }

#home-post-4-container {
  overflow: auto;
  width: 100%; }
  #home-post-4-container #home-post-4 {
    max-width: 50%;
    float: left;
    margin-bottom: 5em; }

#home-post-5-container {
  overflow: auto;
  width: 100%; }
  #home-post-5-container #home-post-5 {
    max-width: 50%;
    float: right;
    margin-bottom: 5em; }

.post_title {
  display: none;
  font-weight: 300; }

img.hovered {
  transition: opacity 0.5s;
  opacity: 0.1 !important; }

#dropdown {
  display: none;
  height: 500px; }
  #dropdown #category_list {
    width: 40%;
    padding-left: 20%;
    float: left; }
    #dropdown #category_list li {
      padding: 1em 0;
      font-size: 20px; }
      #dropdown #category_list li a {
        font-size: 14px;
        position: absolute;
        z-index: 10; }
        #dropdown #category_list li a label {
          text-transform: uppercase;
          font-size: 25px; }
  #dropdown #category_description {
    float: left;
    width: 40%;
    height: 100%;
    margin-left: -10%; }
    #dropdown #category_description .category_preview {
      height: 100%;
      display: none; }
      #dropdown #category_description .category_preview .category_thumb {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center; }

/*# sourceMappingURL=mvc-home.css.map */
