div#nav-bar
{
  width:100%;
  margin:1em 0;
}
div#content{}

div.home-post-container{
  width:100%;
  div.homepage-post{
    max-width:unset;
    width:100%;
    margin:unset;
    img{
      max-height:unset;
      height:auto;
      width:100%;
    }
  }
}

#dropdown ul#category_list li a
{
  position:static;
}

#dropdown ul#category_list
{
  width:100%;
  text-align:center;
  padding:0px;
}