.single div.post-thumbnail img
{
  width: 100%;
  height: auto;
}

.single div.entry-content {
  padding:0;
}

div.right-nav {
  float: right;
}

.entry-content
{
  width:100%;
  table{
    width:inherit;
  }
  pre{
    code{
      word-wrap:break-word;
    }
    white-space: pre-wrap;
    width:inherit;
  }
}